<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
    <title>Express Logistics©</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e7fc1e4d90.js" crossorigin="anonymous"></script>

</head>
<body class="container_all">  
    <header>
    <div class="ancho">
        <div class="logo">
            <li>
               <p><a href="../index.html">LOGISTICS EXPRESS</a></p>
            </li>
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="./SERVICIOS.html">SERVICIOS</a>
                    <ul class="Submenu">
                        <li class="sub_i">
                            <a href="./Menu de envio.html">Menu de Envio</a>
                        </li>
                        <li class="sub_i">
                            <a href="./Rastrea tu Pedido.html">Rastrea tu pedido</a>
                        </li>
                        <li class="sub_i">
                            <a href="./Conoce nuestras tarifas.htmll">Conoce nuestras Tarifas</a>
                        </li>
                    </ul>
                </li>                  
                
                <li class="item"><a href="./ABOUT US.html">ABOUT US</a>
                    <ul class="Submenu">
                       
                    </ul>
                </li>       

                <li class="item"><a href="./CUENTA.html">CUENTA</a>
                </li>

            </ul>
        </nav>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style=" display: flex; margin-left: 210px ; width: 1000px; height: 700px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/carousel1.jpeg" class="d-block w-100" alt="carousel1">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../img/carousel2.jpeg" class="d-block w-100" alt="carousel2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../img/carousel3.jpeg" class="d-block w-100" alt="carousel3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container">
      <mision class="mision"><img src="../img/Mision.jpg" alt="mision" height="500px" width="1000px" ></mision>
      <vision class="vision"><img src="../img/Vision.jpg" alt="vision" height="500px" width="1000px"></vision>
      <politica class="politica"><img src="../img/Politicas.jpg" alt="politica" height="500px" width="1000px"></politica>
    </div>

    <div class="clearfix"></div>
    
    <footer>
      <div class="container_footer">
         <div class="box_footer">
         <div class="logo_footer">
          <img src="../img/logo_small.png" alt="logo empresa">
         </div>
         <div class="terms">
              <p>Somos una empresa dedicada a satisfacer la demanda de envios tanto nacional e internacional para cumplir con las necesidades de nuestros clientes.</p>
         </div>
         </div>

         <div class="box_footer">
           <h2>Compañia</h2>
           <a href="#">Acerca de</a>
           <a href="#">Trabajos</a>
           <a href="#">Procesos</a>
           <a href="#">Servicios</a>
         </div>

         <div class="box_footer">
           <h2>Nosotros</h2>
           <a href="#">Contacto</a>
           <a href="#">Ubicacion</a>
           <a href="#">About Us</a>
           <a href="#">Trabaja con nosotros</a>
         </div>

         <div class="box_footer">
           <h2>Redes Sociales</h2>
           <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
           <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
           <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
           <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
         </div>
      </div>
      <div class="box_copyright">
          <hr>
          <p>Todos los derechos reservados ©2022
          <b>LOGISTICS EXPRESS</b>
          </p>
      </div>
  </footer>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>
</html>