<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
    <title>Express Logistics©</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e7fc1e4d90.js" crossorigin="anonymous"></script>

</head>
<body class="container_all">  
    <header>
    <div class="ancho">
        <div class="logo">
            <li>
               <p><a href="../index.html">LOGISTICS EXPRESS</a></p>
            </li>
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="./SERVICIOS.html">SERVICIOS</a>
                    <ul class="Submenu">
                        <li class="sub_i">
                            <a href="./Menu de envio.html">Menu de Envio</a>
                        </li>
                        <li class="sub_i">
                            <a href="./Rastrea tu Pedido.html">Rastrea tu pedido</a>
                        </li>
                        <li class="sub_i">
                            <a href="./Conoce nuestras tarifas.html">Conoce nuestras Tarifas</a>
                        </li>
                    </ul>
                </li>                  
                
                <li class="item"><a href="./ABOUT US.html">ABOUT US</a>
                </li>
                    

                <li class="item"><a href="./CUENTA.html">CUENTA</a>
     
                </li>

            </ul>
        </nav>
    </div>

    <section class="conten">
        <h1>BIENVENIDOS</h1>
        <div class="efecto">
            <button class="boton">
                <a href="#"><span>Envio en un parpadeo</span></a>
            </button>
        </div>
    </section>
    
     <hr class="hr">

     
     <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img class="imgcartas" src="../img/hacemoscrecer tu negocio.jpg" class="card-img-top" alt="hacemoscrecer">
            <div class="card-body">
              <h5 class="card-title">Hacemos Crecer tu negocio</h5>
              <p class="card-text">Con nuestros servicios tus envios seran los primeros en llegar.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="imgcartas" src="../img/paga tus bolestas.jpg" class="card-img-top" alt="pagatusboletas">
            <div class="card-body">
              <h5 class="card-title">Paga tus cuentas</h5>
              <p class="card-text">En LOGISTICS EXPRESS te hacemos la vida mas facil ya que puedes pagar tus servicios.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="imgcartas" src="../img/elmejorcuidado.jpg" class="card-img-top" alt="elmejorcuidado">
              <div class="card-body">
                <h5 class="card-title">Te garantizamos buena logistica</h5>
                <p class="card-text">Cuidaremos tus envios como si fueran los nuestros garantizandote el mejor cuidado.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
      </div>

    <div class="clearfix"></div>
    <footer>
        <div class="container_footer">
           <div class="box_footer">
           <div class="logo">
            <img src="../img/logo_small.png" alt="logo empresa">
           </div>
           <div class="terms">
                <p>Somos una empresa dedicada a satisfacer la demanda de envios tanto nacional e internacional para cumplir con las necesidades de nuestros clientes.</p>
           </div>
           </div>

           <div class="box_footer">
             <h2>Compañia</h2>
             <a href="#">Acerca de</a>
             <a href="#">Trabajos</a>
             <a href="#">Procesos</a>
             <a href="#">Servicios</a>
           </div>

           <div class="box_footer">
             <h2>Nosotros</h2>
             <a href="#">Contacto</a>
             <a href="#">Ubicacion</a>
             <a href="#">About Us</a>
             <a href="#">Trabaja con nosotros</a>
           </div>

           <div class="box_footer">
             <h2>Redes Sociales</h2>
             <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
             <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
             <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
             <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
           </div>
        </div>
        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados ©2022
            <b>LOGISTICS EXPRESS</b>
            </p>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>